name: django-test

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: python setup
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: install dependencies
        run: | 
          pip install poetry
          poetry install
      - name: code test-coverage
        uses: paambaati/codeclimate-action@v3.2.0
        env:
          SECRET_KEY: ${{ secrets.SECRET_KEY }}
          CC_TEST_REPORTER_ID: adc14dac3ed869d26985d96c84db2b1adfb4839586e104044b1b57644baa8d6c
        with:
          coverageCommand: make test-coverage
